@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Raleway:wght@400;600&display=swap");

:root {
  --primary-color: #2b2d42;
  --secondary-color: #8d99ae;
  --text-color: #edf2f4;
}
.WeatherForecast {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border-radius: 5px;
  text-align: center;
  margin: 0 auto;
}
.WeatherForecast h1 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
.WeatherForecast .temperatures {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}

.WeatherForecast .temperature-max {
  font-weight: 600;
}
.WeatherForecast .sunrise,
.WeatherForecast .sunset {
  margin: -5px;
  padding: 0;
}
.WeatherForecast .icons {
  color: var(--primary-color);
}
