@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Raleway:wght@400;600&display=swap");

:root {
  --primary-color: #2b2d42;
  --secondary-color: #8d99ae;
  --text-color: #edf2f4;
}

.Weather {
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: "Barlow Condensed", sans-serif;
}

.Weather h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.Weather p {
  text-align: left;
}
.Weather form {
  text-align: center;
}
.Weather ul {
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
.Weather li {
  line-height: 1.2;
}
.Weather .loader {
  margin: 30px auto;
}
.Weather .container {
  padding: 20px;
}
.Weather .temperature {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 100px;
  position: relative;
  bottom: 30px;
}

.Weather .units {
  position: relative;
  bottom: 75px;
  margin: 0 10px;
}

.Weather .icons {
  color: var(--text-color);
}
